name: HRMS Backend CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    env:
      DJANGO_SETTINGS_MODULE: hrms.settings
      SECRET_KEY: ci-secret-key
      DEBUG: "False"
      DATABASE_URL: ${ secrets.DATABASE_URL }
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pre-commit
        run: python -m pre_commit run --all-files --show-diff-on-failure

      # - name: Run migrations
      #   run: python manage.py migrate --noinput

      - name: Run tests
        run: python manage.py test --verbosity=2

  deploy:
    name: Build and push Docker image
    needs: test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      DOCKERIMAGE_NAME: ${{ secrets.DOCKERIMAGE_NAME }}
      DOCKERIMAGE_TAG: build-${{ github.run_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Build and push image
        run: |
          docker build -t ${{ env.DOCKERIMAGE_NAME }}:${{ env.DOCKERIMAGE_TAG }} --platform linux/amd64 -f docker/production/Dockerfile .
          docker tag ${{ env.DOCKERIMAGE_NAME }}:${{ env.DOCKERIMAGE_TAG }} ${{ env.DOCKERIMAGE_NAME }}:latest
          docker push ${{ env.DOCKERIMAGE_NAME }}:${{ env.DOCKERIMAGE_TAG }}
          docker push ${{ env.DOCKERIMAGE_NAME }}:latest
